page-finished {

    .master {
      background-color: map_get($colors, primary);
      height: 1024px;
      width: 768px;
    }

    #speech {
      height: 50%;
      width: 100%;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      #logo {

        img {
          height: 120px;
        }
      }

      h1 {
        margin: 0;
        padding: 0;
        color: map_get($colors, secondary);
        font-weight: bold;
        font-size: 100px;
      }

      h3 {
        font-size: 40px;

      }
    }
    #end {
      height: 150px;
      width: 150px;
      border-radius: 50%;
      background-color: map_get($colors, ending);
      display: flex;
      justify-content: center;
      float: right;
      margin: -75px 50px 0 0;

      ion-icon {
        display: flex;
        justify-items: center;
        margin: 0 auto;
        align-items: center;
        font-size: 100px;
        color: white;
        z-index: 20;
      }
    }

    #dude {
      display: flex;
      margin: 80px 0 30px 0;
      justify-content: center;
      z-index: 15;


      img {
        height: 450px;
      }
    }
}
